*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}
h1 {
    color: #333;
    text-align: center;
}
#rss-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


img{
    width: 12.25rem;
    height: 9.375rem;

    border-radius: 8px;

}

p{
    font-size: 0.9rem;
}

.main {
    display: flex;
    margin-bottom: 1rem;
}

.container{
    display: flex;
    flex-direction: column;

    margin-left: 1rem;
}